@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SFProDisplayRegular";   /*Name of Font*/
  src: local("SFProDisplayRegular"), url("../public/SFProDisplayRegular.ttf") format("truetype");
}

body {
  font-family: "SFProDisplayRegular";
}